<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
 .navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  position:fixed;
  margin-left:0px;
  top:2px;
}
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.center{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
</head>
<body>
<div class="navbar">
    <a href="#about">About</a> </li>
    <a href="/viewHotels">ViewHotels</a>
    <a href="/">Logout</a>
<!--    <a href="http://localhost:8086/admin">Admin</a>-->
</div><br><br><br>
<marquee direction="right"
         behavior="alternate"
         style="color:orange">
    <h1>WELCOME BACK ADMIN </h1></marquee>
<img src="admin.png" alt="Admin Photo" class="center">
</div>
</body>
</html>